<div id="examples">
    <!-- <h1>Examples</h1>
    <hr>
    <div class="button-group">
        <a href="" class="action-button" ui-sref="examples.static-json">1. <span>Show a Static JSON using "ng-repeat"</span></a>
        <a href="" class="action-button" ui-sref="examples.get-api">2. Get a JSON from "API" and show it</a>
        <a href="" class="action-button">3. Advanced: use "Google-Translate API"</a>
    </div>
    <ui-view></ui-view> -->
</div>
<div style="display: none">
<typeform-embed
    tf-id="TYPEFORM_ID"
    tf-text="Any text that you want"
    tf-style="height:600px; width:600px;margin:0 auto;">
</typeform-embed>
</div>
<div class="row ng-scope" style="
    position: absolute;
    top: 0;
    width: 100%;
    margin: 0 auto;">
    <div class="col-md-12">
      <div style="height: 305px">
        <uib-carousel interval="myInterval" no-wrap="noWrapSlides">
          <uib-slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;" />
            <div class="carousel-caption">
              <!--<h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>-->
              <div class="btn btn-primary" style="font-size: 40px;
              margin-bottom: 20%;     color: #fff;
    background-color: #fff;
    border-color: #fff;"><a class="typeform-share button" href="https://abdulrehmankhawar.typeform.com/to/MuoByq" data-mode="2" target="_blank">Sign UP</a>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'share.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}id=id+'_';if(!gi.call(d,id)){qs=ce.call(d,'link');qs.rel='stylesheet';qs.id=id;qs.href=b+'share-button.css';s=gt.call(d,'head')[0];s.appendChild(qs,s)}})()</script></div>

            </div>
          </uib-slide>
        </uib-carousel>
      </div>
    </div>
  </div>
  <style>
  .sc-feJyhm.hXcJqH {
    display: none;
}
  </style>
<!-- <br />
<br />
<br />
<h3>Before you start</h3>
<p>Your visit will be confirmed by email within 3 working days.</p>

<h3>Cancel a visit</h3>
<p>Cancel a visit by following the link in your confirmation email or by calling the visiting centre.</p>

<h3>Help using the service</h3>
<p><a href="#">Contact the visiting centre</a> if you need help using the online service.</p> -->


  <!-- <div class="typeform-widget" data-url="https://laurajones.typeform.com/to/OJe4Ue" data-text="Name" style="width:100%;height:500px;"></div>
<script>(function(){var qs,js,q,s,d=document,gi=d.getElementById,ce=d.createElement,gt=d.getElementsByTagName,id='typef_orm',b='https://s3-eu-west-1.amazonaws.com/share.typeform.com/';if(!gi.call(d,id)){js=ce.call(d,'script');js.id=id;js.src=b+'widget.js';q=gt.call(d,'script')[0];q.parentNode.insertBefore(js,q)}})()</script>
</form>   -->

<!-- <carousel interval="carouselTimer">
    <slide ng-repeat="slide in slides" active="slide.active">
      <img ng-src="{{slide.image}}">
      <div class="carousel-caption">
        <h4>{{slide.cap}}</h4>
      </div>
    </slide>
  </carousel> -->

<!-- <ui-carousel 
  slides="ctrl.slides"
  slides-to-show="3"
  slides-to-scroll="1"
  initial-slide="1"
  autoplay="true"
  autoplay-speed="2000"
  dots="true">
 
  <carousel-item>
    <h3>{{ item + 1 }}</h3>
  </carousel-item>
</ui-carousel> -->

<!-- <div myslider>
    <ul class="slider">
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1426200830301-372615e4ac54?fit=crop&fm=jpg&h=725&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1421977870504-378093748ae6?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://ununsplash.imgix.net/photo-1421757295538-9c80958e75b0?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://unsplash.imgix.net/photo-1420745981456-b95fe23f5753?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="Image">
        </li>
        <li class="image-slider">
            <img src="https://download.unsplash.com/photo-1415871989540-61fe9268d3c8" alt="Image">
        </li>
    </ul>
</div> -->
