
<!-- <div class="typewriter"> 
<h1 typewrite type-delay="100" blink-cursor="false" text="HELLO WELCOME TO BFL."></h1>
    <button type="button" class="btn btn-primary" ui-sref="examples">About</button>
</div> -->
<!-- 
<div class="stars"></div>
<div class="twinkling"></div> -->
<div class="" style="    margin: 13% auto;
position: absolute;
width: 100%;
">
    <div class="typewriter ng-scope"> 
<h1 typewrite="" type-delay="100" blink-cursor="false" text="HELLO WELCOME TO BFL.">HELLO WELCOME TO BFL.</h1>

<!-- -->
</div>
<div style="text-align: center;
margin: 5% auto;"   >
<button type="button" class="btn btn-primary" ui-sref="examples" href="#/examples">Next</button>
</div>
</div>
